{% extends "base.html" %}

{% block content_menu %}
<body>
<p class="hello">
    Здравствуйте, ! Рады снова Вас видеть на нашем сайте!
</p>
<div>
<form class="login_form" method="post">
    <div class="form-group">
        <label for="eduSelect">Ваши текущие записи</label>
        <select class="form-control" id="classSelect1" name="my_record">
            {% for record in records %}
                <option>{{ record }}</option>
            {% endfor %}
        </select>
    <button type="submit" class="btn btn-primary">Отменить запись</button>
    </div>
    <div class="form-group">
        <label for="eduSelect">Выберите лечебное учреждение</label>
        <select class="form-control" id="classSelect2" name="hosp">
            {% for hosp in hospitals %}
                <option>{{ hosp }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="eduSelect">Выберите специальность</label>
        <select class="form-control" id="classSelect3" name="spec">
            {% for spec in specialty %}
                <option>{{ spec }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="eduSelect">Выберите врача</label>
        <select class="form-control" id="classSelect4" name="doc">
            {% for doctor in doctors %}
                <option>{{ doctor }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Записаться</button>
</form>
</div>
</body>
{% endblock %}
